/* ==========================================================================
   Config settings
   ========================================================================== */

//  Main container width
$container-width : 1230px;
$container-width-wide: 1280px;

// Default border radius values
$border-radius-small: 				3px;
$border-radius-medium: 				8px;
$border-radius-large: 				16px;

// Predefined breakpoint
$xl : 1200px;
$lg : 992px;
$md : 768px;
$sm : 576px;

$laptop : 1440px;

$wide : 75em;


