/**
 *  Global color variables.
 *	The underscore Never use them directly in the styles, only for functions and mixins.
 */

$_color-primary-500: #954848 !default;
$_color-primary-400: #978484 !default;

$_color-secondary-100: #EDE9E6 !default;
$_color-secondary-200: #E9EDDC !default;
$_color-secondary-300: #DCBB6F !default;

$_color-text-500: #1B1919 !default;

/**
 *  Organize color variables in a Sass Map.
 *  This way, the colors can be iterated, are more organized, and are more intuitive to reference.
 */
$palettes: (
        'primary': (
                400:  $_color-primary-400,
                base: $_color-primary-500,
        ),
        'secondary': (
                base: $_color-secondary-100,
                200: $_color-secondary-200,
                300: $_color-secondary-300,
        ),
        'text': (
                base: $_color-text-500,
        )
);

