/** =====================================================================================
 *  Defines the typographic baseline.
 *  We define every size in pixels, the underlying system converts the
 *  respective units to the responsive REM value.
 ===================================================================================== */

/**
 * Our base font-size and line-height
 */
$base-font-size: 14 !default;
$base-line-height: 22 !default;
$line-height-ratio: $base-line-height/$base-font-size !default;

$font-sizes: (
        base: $base-font-size,
        mid-large: 16,
        m-mid-large: 22,
        large: 27,
        m-large: 32,
        l-large: 36,
        l1-large: 40,
        x-large: 48,
        x1-large: 51,
        x1-mid-large: 82,


);

/**
 *	Here we assign short names for the font families
 */
$font-poppins: 'Atten New', sans-serif;
$font-poppins-black: 'poppins_black', sans-serif;

$_font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-families: (
        base: $font-poppins,
        black:$font-poppins-black,
  // Fallback font
        system: $_font-system
);

