.o-header {
  position: fixed;
  top: 0;
  left: 0;
  width:100% ;
  background: palette(secondary);
  padding: 20px 0;
  z-index: 9999999999;

}

.o-header__logo{
  position: absolute;
  left: 15px;
  top: 0;
  width: 111px;
}

.o-header__toggle-menu{
  &:before{
    content: url("/wp-content/themes/galicja/img/icons/mob_menu.svg");
  }
  &.close-menu{
    &:before{
      content: url("/wp-content/themes/galicja/img/icons/close.svg");
    }
  }
}