.o-footer {
  background-color: palette(primary);
  padding: 110px 0 150px 0;
  color: #ffffff;
}

.o-footer__logo {
  margin-bottom: 52px;
}

.o-footer__item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: #ffffff;

  p {
    margin: 0;
    padding: 0;
  }

  a {
    color: #ffffff;
  }
}

.o-footer__social-box {
  flex-direction: column;
  align-items: flex-start;

  @include mq(1024) {
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
  }

  a {
    padding: 10px 0;
  }
}

.o-footer__icon {
  display: inline-block;
  width: 26px;
  margin-right: 32px;
  text-align: center;

  img {
    display: inline-block;
  }
}

.o-footer__social {
  color: #ffffff;
  margin-right: 50px;
}

.o-footer__tel {
  -webkit-touch-callout: none;
}

.o-footer__way {
  padding-top: 53px;
}
