.o-mobile-menu {
  height: 100vh;
  width: 100%;
  position: fixed;
  left: -100%;
  background-color: palette(primary);
  z-index: 10;
  transition: all linear 0.5s;

  &.show-menu{
    left: 0;
  }

  .c-main-menu{
    width: 100%;
    justify-content: center;
    padding-top: 100px;

    ul{
      width: 100%;
      flex-direction: column;

      li{
        width: 100%;
        text-align: center;

        a{
          padding: 20px 0;
          color: #ffffff;

          &.active{
            color: palette(secondary,300);
          }
        }
      }
    }
  }
}