.c-gallery-overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  background-color: rgba(237, 233, 230, 0.9);
  z-index: 15;
  display: none;
}

.c-gallery-modal {
  max-width: 90%;
  height: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
  z-index: 20;


  #btn-close {
    position: absolute;
    top: 100px;
    right: -30px;
    cursor: pointer;
    height: 15px;
    width: 15px;
  }

  #left, #right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    height: 15px;
    width: 15px;
  }

  #left {
    left: -40px;
  }

  #right {
    right: -40px;
  }


}

#active-image {
  width: auto;
  height: 100%;
  object-fit: contain;
}
