button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.c-primary-button {

}

.c-primary-button--outline {

}

.c-primary-button--icon-left {
  position: relative;
  padding-left: 44px;

}

.c-primary-button__icon {

}

.c-primary-button--load-more {

}

.is-disabled{
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

.c-primary-button--bordered {

}

.c-primary-button--small{

}

.c-primary-button--yellow{

}


.c-primary-button--shadow{



}