.c-slider__slider {

}

.swiper-button-prev {
  color: palette(primary);
  margin-left: -25px;

  &:after{
    font-size: 30px;
  }
}

.swiper-button-next {
  color: palette(primary);
  margin-right: -25px;

  &:after{
    font-size: 30px;
  }
}