.c-post-card{

}

.c-post-card__title{
  padding-bottom: 23px;
  margin-bottom: 23px;
  color: palette(primary);
  font-family: "Argesta Headline";
  @include font(large, 32, 400);
  letter-spacing: 0.06em;
  border-bottom: 1px solid palette(primary) ;
}

.c-post-card__description{
  padding-left: 30px;
}