.c-main-menu {

  ul {
    display: flex;
  }

  .menu-item {
    a {
      display: inline-block;
      padding: 0 40px 0 0;
      @include font( mid-large, 19, 500);
      color: palette(primary,400);

      @include mq(768) {
        &:hover{
          color: palette(primary) !important;
        }
      }

      &.active{
        color: palette(primary) !important;
      }
    }
  }
}