.s-services{
    position: relative;
    background-color: palette(secondary);
    padding: 80px 0 100px 0;

    img{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.s-services__item{
    padding-bottom: 43px;
}
.s-services__item-title{
    margin-bottom: 45px;
    color: palette(secondary, 300);
    @include font(x1-large, 65, 400);
    letter-spacing: 0.06em;
}

.s-services__item-description{
    padding-left: 40px;

    @include mq(768) {
        padding-left: 80px;
    }
}