.s-main-hero {
  position: relative;
  margin-top: 62px;
  padding: 15px 0;
  background: palette(secondary);
  overflow:hidden;

  @include mq(768) {
    padding: 53px 0;
  }
}

.s-main-hero__logo {
  max-width: 190px;
  margin: 0 auto;

  @include mq(768) {
    max-width: 270px;
  }

  @include mq(1200) {
    max-width: 486px;
  }
}

.s-main-hero__decoration {
  position: absolute;
  height: 100%;

  img{
    width: auto;
    height: 90%;

    @include mq(768) {
      height: 100%;
    }
  }
}

.s-main-hero__decoration--left{
  top: 0;
  left: -40px;

  @include mq(768) {
    left: 0;
  }
}

.s-main-hero__decoration--right{
  top: 0;
  right: -40px;

  @include mq(768) {
    right: 0;
  }
}