.s-last-posts{
  background-color: palette(secondary);
  padding: 80px 0;
}
.s-last-posts__title{
  margin-bottom: 45px;
  color: palette(primary);
  @include font(x1-large, 65, 400);
  letter-spacing: 0.06em;
}