.s-about-us {
  height: 300px;
  position: relative;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;


  @include mq(768) {
    height: 500px;
  }

  @include mq(1024) {
    background-size:cover;
    height: 800px;
  }
}
.s-about-us__content__wrap {
  position: absolute;
  right: 139px;
  bottom: 70px;
  width: 410px;
  height: 410px;
  border-radius: 50%;
  background: palette(primary);
}

.s-about-us__content {
  color: palette(secondary, 200);
  max-width: 320px;
  margin: 0 auto;
}

.s-about-us__title {
  @include font(x1-mid-large, 98, 400);
}

.s-about-us__description {
  max-width: 310px;
  padding-left: 40px;
}

/*------- About Content Mobile ---------*/

.s-about-us__content-mob{
  background: palette(primary);
  padding: 50px 0;

  .s-about-us__content {
    max-width: 100%;
  }

  .s-about-us__description {
    max-width: 100%;
    padding-left: 40px;
  }

}